@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body{
    background-color: black;
    text-decoration: none;
    font-family:'Spinnaker', sans-serif;
}

.topnav{
  background-color: black;
  overflow: hidden;
    }

 /* Style the links inside the navigation bar */
 .topnav a {
   float: right;
   display: block;
   color: #f2f2f2;
   font-family:'Spinnaker', sans-serif;
   padding: 10px;
   margin-left: 10px;
   text-decoration: none;
   font-size: 20px;
   width: 33.33%; 
   text-align: center; /* If you want the text to be centered */
        }

/* Dropdown container - needed to position the dropdown content */
.dropdown {
 float: left;
 overflow: hidden;
}

.dropdown-content {
 display: none;
 position: absolute;
 background-color: #000000;
 min-width: 100px;
 box-shadow: 0px 8px 5px 5px rgba(232, 247, 145, 0.2);
 z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
 float: none;
 color: rgb(255, 255, 255);
 padding: 50px 65px;
 font-size: 18px;
 font-family:'Spinnaker', sans-serif;
 text-decoration: none;
 display: block;
 text-align: center;
 margin-left: 50px;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
 background-color: rgb(228, 242, 106);
 color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
 display: block;
}



.container {
  width: 80%;
  margin:20px auto;
}
.carousel {
  border: 2px solid #ffffff;
  height: 800px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  background: rgb(0, 0, 0);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
}
.slider {
  display: flex;
  height: 100%;
  width: 500%;
}
.slider p{
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-size: 25px;
  margin-top:30px;
  margin-left:150px;
  margin-right:150px;
}


.slider section {
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 15px;
}
.left, .right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.arrow i {
  font-size: 70px;
  -webkit-user-select: none;
  color: #fefefe;
}
.left {
  left: 10px;
}
.right {
  right: 10px;
}
.control ul {
  list-style: none;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%);
}
.control ul li {
  width: 10px;
  height: 10px;
  background: #333;
  border: 2px solid rgb(120, 120, 120);
  border-radius: 50px;
  margin: 10px;
  cursor: pointer;
}
.control ul li.selected {
  background: transparent;
}




